@model PetrolPal.Models.TripViewModel
@{
    ViewBag.Title = "Trip";
}

<h2>Trip</h2>
<div class="row">
    <div class="startEndContainer">
        <div class="trip-start well well-lg">
            <h4>Start:</h4>
            <div class="trip-starttime">Time: @Model.t.startTime</div>
            <span>Lat: @Model.t.startLocation.Lat</span>
            <span>Lon: @Model.t.startLocation.Lon</span>
        </div>
        <div class="trip-end well well-lg">
            <h4>End:</h4>
            <div class="trip-endtime">Time: @Model.t.endTime</div>
            <span>Lat: @Model.t.endLocation.Lat</span>
            <span>Lon: @Model.t.endLocation.Lon</span>
        </div>
    </div>
    <div class="well">            
        <a href="https://www.google.com/maps/dir/@Model.t.startLocation.Lat,@Model.t.startLocation.Lon/@Model.t.endLocation.Lat,@Model.t.endLocation.Lon/"><b>Click this link for google maps of the trip</b></a>
    </div>
    <div class="trip-cost well well-sm">Cost: @Model.t.cost kr</div>
    <div class="trip-fuel well well-sm">Fuel: @Model.t.fuelUsed liters</div>
    <div class="trip-km well well-sm" style="overflow:hidden;">Kilometers: @Model.t.km kilometers</div>
</div>