
@{
    ViewBag.Title = "TripTable";
}

@model PetrolPal.Models.TripTableViewModel

<h2>TripTable</h2>

<div class="row">
    <div class="col-md-4">
        <p>Select the dates to display data</p>
        @using (Html.BeginForm())
        {
            <div class="form-group">
                <label for="BeginDate">From:</label>
                @Html.TextBoxFor(model => model.timeFrom, new { type = "date" })
            </div>
            <div class="form-group">
                <label for="EndDate">To:</label>
                @Html.TextBoxFor(model => model.timeTo, new { type = "date", })
            </div>

            <button type="submit">Get data</button>
        }
        <table class="table table-striped">
            <tr>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Fuel Used</th>
            </tr>
            @foreach (var t in Model.trips)
            {
            <tr>
                <td>@t.startTime</td>
                <td>@t.endTime</td>
                <td>@t.fuelUsed</td>
            </tr>
            }
        </table>

        <span>Total Cost: @Model.totalCost</span>
        <span>Total Fuel: @Model.totalFuel</span>
        <span>Average Cost: @Model.averageCost</span>
        <span>Average Fuel: @Model.averageFuel</span>
            
         
        </div>
</div>