
@{
    ViewBag.Title = "TripTable";
}

@model PetrolPal.Models.TripTableViewModel

<h2>Trip summary</h2>

<div class="row">
    <div class="col-md-12">
        <h3>Select dates</h3>
        @using (Html.BeginForm())
        {
                <div class="form-group date-picker col-md-5">
                    <label for="timeFrom">From:</label>
                    @Html.TextBoxFor(model => model.timeFrom, new { type = "date", @class="form-control"})
                </div>
                <div class="form-group date-picker col-md-5">
                    <label for="timeTo">To:</label>
                    @Html.TextBoxFor(model => model.timeTo, new { type = "date", @class="form-control"})
                </div>
                <button type="submit" class="btn btn-default col-md-2 col-xs-12" id="data-button">Get data</button>
           
        }
        <h3>Summary</h3>
        <div class="summary-body">
            <span>Total Cost: @Model.totalCost.ToString("#") kr</span><br />
            <span>Average Cost: @Model.averageCost.ToString("#") kr/trip</span><br />
            <span>Total Fuel: @Model.totalFuel.ToString("#.##") l</span><br />
            <span>Average Fuel: @Model.averageFuel.ToString("#.##") l/trip</span><br />
            <span>Total Distance: @Model.totalKm.ToString("#.##") km</span><br />
            <span>Average Distance: @Model.averageKm.ToString("#.##") km/trip</span><br />
        </div>

        <h3>All trips</h3>
        <table class="table table-striped">
            <tr>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Distance (km)</th>
                <th>Fuel Used (l)</th>
                <th #id="lessSizeTH">Link:</th>
            </tr>
            @foreach (var t in Model.trips)
            {
            <tr>
                <td>@t.startTime</td>
                <td>@t.endTime</td>
                <td>@t.km</td>
                <td>@t.fuelUsed</td>
                <td #id="lessSizeTH">@Html.ActionLink("View", "Trip", "Home", new { timeFrom = t.startTime, timeTo = t.endTime, cost = t.cost, fuel = t.fuelUsed, km = t.km, startLat = t.startLocation.Lat, startLon = t.startLocation.Lon, endLat = t.endLocation.Lat, endLon = t.endLocation.Lon }, null)</td>
            </tr>
            }
        </table>

        `
            
         
        </div>
</div>