@model PetrolPal.Models.VehicleInfoViewModel
@{
    ViewBag.Title = "VehicleInfo";
}

<h2>VehicleInfo</h2>

<span>Registration Number: @Model.registrationNumber</span>
<span>Vehicle Type: @Model.vehicleType</span>
<span>IMEI: @Model.IMEI</span>
<span>VIN: @Model.VIN</span>
<span>Total km driven: @Model.totalKm</span>
<span>Next inspection date: @Model.nextInspection</span>